<p>Generated Form Information:</p>
<dl>
  <dt>
    <i>Name:</i>
  </dt>
  <dd><%= @name %></dd>
  <dt>
    <i>Email:</i>
  </dt>
  <dd><%= @email %></dd>
  <dt>
    <i>Telephone:</i>
  </dt>
  <dd><%= @telephone %></dd>
  <dt>
    <i>Attached Message:</i>
  </dt>
  <dd><%= @message %></dd>
</dl>
