<p id="notice"><%= notice %></p>

<h1>Basket's Items</h1>
<hr>

<table>
  <thead>
    <tr>
      <th>Basket</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.basket %></td>
        <td><%= item.product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
