/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
$brand-color: #FFCC5C;
$white-color: #FFFFFF;

.white-color {
  color: $white-color;
}

.comment-left-border {
  border-left: 6px solid #ccc !important;
}

.brand-color {
  color: $brand-color;
}

.vertical-align-text {
  line-height: 80px;
}

.img-icon {
  height: 80px;
  width: 80px;
}

.img-large {
  height: 200px;
  width: 200px;
}

.img-display {
  height: 700px;
  width: 700px;
}

.product-display {
  border-style: solid;
  border-width: thin;
}

// Adds padding on view to ease user readability
.margin-padding {
  padding: 1rem 2rem 2rem;
}

.center-content {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-review {
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-order {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-basket {
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  padding: 0.5rem;
}

// Override text-decoration: none; by using !important statement - otherwise no color would show
.navbar-brand {
  color: $brand-color !important;
  font-size: 1.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #FBFBFB;
  border-top-style: solid;
  border-width: thin;
  border-color: #DFDDDA;
}

.footer-container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

#wrapper {
  min-height: 900px;
  position: relative;
}

// AUTHOR NOTE: Big appreciation and credit to FredGenkin for providing the open-source bootstrap review rating stars
// https://codepen.io/FredGenkin/pen/eaXYGV
:root {
  --star-size: 40px;
  --star-color: #FFCC5C;
  --star-background: #808080;
}

.rating-review-stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--star-color) var(--percent), var(--star-background) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
